@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url(./assets/fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url(./assets/fonts/Montserrat-ExtraLight.ttf);
}
body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat';
  font-size: 17px;
}
